header{
    position: sticky;
    background-color: #ffffff;
    height: 100px;}
.logo {
    height: 100px;
    width: 100px;}
.container {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40pt;}
.lupa {
    height: 30px;
    width: 30px;
    padding-top: 20px;}
.pergunta {
    color: #409d9d;
    margin-top: 50px;
    font-size: 34pt;
    margin-right: 750px;
    padding-left: 40px;
    padding-top: -400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.leidecotas {
    font-size: 26pt;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.lorem {
    font-size: 18pt;
    margin-right: 680px;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.saibamais {
    margin-top: 10px;
    background-color: #409d9d;
    margin-left: 40px;
    font-size: 21pt;
    color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: #409d9d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.saibamais:hover {
    font-size: 34px;
    background-color: #064747;
    border-color: #064747;}
.fotos1 {
    display: flex;
    margin-left: 820px;
    margin-top: -500px;
    flex-wrap: wrap;}
.foto1 {
    width: 590px;
    height: 390px;}
.foto2 {
    width: 190px;
    height: 190px;
    padding-left: 20px;
    padding-top: 20px;}
.foto3 {
    width: 190px;
    height: 190px;
    padding-left: 20px;
    padding-top: 20px;}
.foto4 {
    width: 190px;
    height: 190px;
    padding-left: 20px;
    padding-top: 20px;}
.foto5 {
    padding-left: 20px;
    padding-top: 100px;
    width: 380px;
    height: 320px;}
.leidecotas1 {
    display: flex;
    font-size: 40px;
    margin-left: 460px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.lorem1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;}
.botaoartigos {
    margin-top: 10px;
    background-color: #409d9d;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 21pt;
    color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-color: #409d9d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.botaoartigos:hover {
    font-size: 34px;
    background-color: #064747;
    border-color: #064747;}
footer {
    background-color: #577272;
}
.ifc {
    width: 150px;
    height: 150px;}
span {
    padding-left: 50px;
    display: flex;
    align-items: center;}